<div class="background-restore-password">
  <div class="container">
    <div class="restore-password__wrapper">
      <div class="restore-password__window">
        <h1 class="header">Відновлення паролю</h1>
        <ng-container *ngIf="!emailSent; else emailSentMessage">
          <form (ngSubmit)="restorePassword()" [formGroup]="restoreForm">
            <div class="form-group">
              <div class="subheader-exp">Введіть електронну адресу, яку ви використовували для реєстрації, і ми надішлемо вам інструкції</div>
              <input type="text"
                class="form-control"
                placeholder="Електронна адресса"
                formControlName="email"
              >
              <button type="submit" class="btn-restore">Відновити пароль</button>
              <a (click)="goToLogin()" class="btn-back"> < Повернутись до входу </a>
            </div>
          </form>
        </ng-container>
        <ng-template #emailSentMessage>
          <h1 class="email-sent-message">Email sent</h1>
          <a (click)="goToLogin()" class="btn-back"> < Повернутись до входу </a>
        </ng-template>
      </div>
    </div>
  </div>
</div>
