<div class="container">
    <div class="login__wrapper">
      <div class="login__window">
        <h1 class="header">Реєстрація</h1>
        <div class="subheader">Створіть свій обліковий запис</div>
        
        <form class="form-wrapper" (ngSubmit)="registration(user)" [formGroup]="user">
            <div class="form-group">
                <input type="text"
                       class="form-control"
                       placeholder="*Введи і'мя"
                       formControlName="userName"
                >
                <div
                  class="invalid-feedback d-block"
                  *ngIf="(user.get('userName')?.hasError('minlength')) && user.get('userName')?.touched">
                  Введіть коректне імя
                </div>
                <div
                  class="invalid-feedback d-block"
                  *ngIf="user.get('userName')?.hasError('required') && user.get('userName')?.touched">
                  Імя є обов'язковим для заповнення
                </div>
              </div>
              <div class="form-group">
                <input type="text"
                       class="form-control"
                       placeholder="*Введи прізвище"
                       formControlName="userSurname"
                >
                <div
                  class="invalid-feedback d-block"
                  *ngIf="(user.get('userSurname')?.hasError('minlength')) && user.get('userSurname')?.touched">
                  Введіть коректне прізвище
                </div>
                <div
                  class="invalid-feedback d-block"
                  *ngIf="user.get('userSurname')?.hasError('required') && user.get('userSurname')?.touched">
                  Введіть коректне прізвище
                </div>
              </div>
            <div class="form-group">
              <input type="email"
                     class="form-control"
                     placeholder="*Введи email"
                     formControlName="email"
                     emailMask
              >
              <div
                class="invalid-feedback d-block"
                *ngIf="(user.get('email')?.hasError('minlength')) && user.get('email')?.touched">
                Введіть коректний e-mail
              </div>
              <div
                class="invalid-feedback d-block"
                *ngIf="user.get('email')?.hasError('required') && user.get('email')?.touched">
                E-mail є обов'язковим для заповнення
              </div>
            </div>
            <div class="form-group">
              <input type="password"
                     formControlName="password"
                     class="form-control"
                     placeholder="*Придумай пароль">
              <div
                class="invalid-feedback d-block"
                *ngIf="user.get('password')?.hasError('required') && user.get('password')?.touched">
                Пароль є обов'язковим для заповнення
              </div>
              <pre class="invalid-feedback d-block"
                   *ngIf="(user.get('password')?.hasError('pattern') || user.get('password')?.hasError('minlength')) && user.get('password')?.touched">
      Пароль занадто простий, мінімум 8 символів.
      Додайте принаймні:
        • одну букву у нижньому регістрі
        • одну букву у верхньому регістрі
        • одну цифру
        • один символ
      Букви використовуйте латинські.
                </pre>
            </div>
            <div class="form-group mg-b-50" *ngIf="hasCode">
              <input type="text"
                     class="form-control"
                     placeholder="Введи код підтвердження"
                     formControlName="code"
              >
            </div>
          </form>
          
        <div class="form-check agree-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                Погоджуюсь із політикою сервісу
            </label>
          </div>
          <button type="submit" class="btn-login" (click)="goToRegistrationDetails($event)">Продовжити</button>
          <p class="login-router">Вже є обліковий запис? <a href="" (click)="goToSignIn($event)"><b>Увійти</b></a></p>
        </div>
    </div>
  </div>

  