<div class="background-new-password">
    <div class="container">
      <div class="new-password__wrapper">
        <div class="new-password__window">
          <h1 class="header">Відновлення паролю</h1>
          <form>
            <div class="form-group">
              <div class="subheader-exp">Придумайте новий пароль</div>
              <input type="password"
                class="form-control"
                placeholder="Новий пароль"
                formControlName="new_password"
              >
              <div class="subheader-exp">Повторіть новий пароль</div>
              <input type="repeat_password"
                class="form-control"
                placeholder="Повторіть новий пароль"
                formControlName="repeat_password"
              >
              <button type="submit" class="btn-restore">Увійти з новим паролем</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  