<div>
   <div class="container">
        <p class="text-successful">Ваше завдання виконано!</p>
        <p class="text-rate">Оцініть роботу садівника</p>
        <div class="stars-container">
            <img class="stars" src="../../../assets/star.svg">
            <img class="stars" src="../../../assets/star.svg">
            <img class="stars" src="../../../assets/star.svg">
            <img class="stars" src="../../../assets/star.svg">
            <img class="stars" src="../../../assets/star.svg">
        </div>
        <input class="input-review" type="text" placeholder="Напишіть відгук...">
        <button class="button-complete">Готово</button>
   </div>
</div>
